{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>SubscriptionType</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>State</th>
                <th>Country</th>
                <th>CcNumber</th>
                <th>Cvv</th>
                <th>ExpirationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.subscriptionType }}</td>
                <td>{{ user.address1 }}</td>
                <td>{{ user.address2 }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.postalCode }}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.ccNumber }}</td>
                <td>{{ user.cvv }}</td>
                <td>{{ user.expirationDate }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
